<a href="https://colab.research.google.com/github/darlaabril/Taller-Python/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Pandas

Importar pandas

In [ ]:
import pandas as pd

Crear dataframe

In [ ]:
##Forma 1
nombres_columnas = ['Departamento', 'Provincia']

obs1 = ['Amazonas', 'Chachapoyas']
obs2 = ['Cajamarca',  'Chota']

data = [obs1, obs2]

ejemplo_df = pd.DataFrame(data = data, columns = nombres_columnas)
ejemplo_df

  Departamento    Provincia
0     Amazonas  Chachapoyas
1    Cajamarca        Chota

In [ ]:
##Forma 2
df = pd.DataFrame()
df['Departamento'] = ['Amazonas', 'Cajamarca']
df['Provincia'] = [ 'Chachapoyas' , 'Chota']
df['Distrito'] = ["Asuncion", "Chadin"]

df

  Departamento    Provincia  Distrito
0     Amazonas  Chachapoyas  Asuncion
1    Cajamarca        Chota    Chadin

Leer Informacion

In [ ]:
locacion_datos = "https://raw.githubusercontent.com/andrealivia49/Python/main/ubigeos_v1.xlsx%20-%20TB_UBIGEOS.csv"
ndf = pd.read_csv(locacion_datos)
ndf

,CONCATENADOS,id_ubigeo,ubigeo_reniec,ubigeo_inei,departamento_inei,departamento,provincia_inei,provincia,distrito,region,macroregion_inei,macroregion_minsa,iso_3166_2,fips,superficie,altitud,latitud,longitud
0,AMAZONASCHACHAPOYASCHACHAPOYAS,1,10101.0,10101.0,1,AMAZONAS,101,CHACHAPOYAS,CHACHAPOYAS,AMAZONAS,ORIENTE,MACROREGION ORIENTE,PE-AMA,1,154.0,2338.0,"-6,2294","-77,8728"
1,AMAZONASCHACHAPOYASASUNCION,2,10102.0,10102.0,1,AMAZONAS,101,CHACHAPOYAS,ASUNCION,AMAZONAS,ORIENTE,MACROREGION ORIENTE,PE-AMA,1,26.0,2823.0,"-6,0325","-77,7108"
2,AMAZONASCHACHAPOYASBALSAS,3,10103.0,10103.0,1,AMAZONAS,101,CHACHAPOYAS,BALSAS,AMAZONAS,ORIENTE,MACROREGION ORIENTE,PE-AMA,1,357.0,859.0,"-6,8358","-78,0197"
3,AMAZONASCHACHAPOYASCHETO,4,10104.0,10104.0,1,AMAZONAS,101,CHACHAPOYAS,CHETO,AMAZONAS,ORIENTE,MACROREGION ORIENTE,PE-AMA,1,57.0,2143.0,"-6,2556","-77,7008"
4,AMAZONASCHACHAPOYASCHILIQUIN,5,10105.0,10105.0,1,AMAZONAS,101,CHACHAPOYAS,CHILIQUIN,AMAZONAS,ORIENTE,MACROREGION ORIENTE,PE-AMA,1,143.0,2677.0,"-6,0783","-77,7375"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1888,TUMBESTUMBESCORRALES,1847,230102.0,240102.0,24,TUMBES,2401,TUMBES,CORRALES,TUMBES,NORTE,MACROREGION NORTE,PE-TUM,24,132.0,27.0,"-3,6014","-80,4806"
1889,TUMBESTUMBESLA CRUZ,1848,230103.0,240103.0,24,TUMBES,2401,TUMBES,LA CRUZ,TUMBES,NORTE,MACROREGION NORTE,PE-TUM,24,65.0,10.0,"-3,6372","-80,59"
1890,TUMBESTUMBESPAMPAS DE HOSPITAL,1849,230104.0,240104.0,24,TUMBES,2401,TUMBES,PAMPAS DE HOSPITAL,TUMBES,NORTE,MACROREGION NORTE,PE-TUM,24,728.0,28.0,"-3,6933","-80,4392"
1891,TUMBESTUMBESSAN JACINTO,1850,230105.0,240105.0,24,TUMBES,2401,TUMBES,SAN JACINTO,TUMBES,NORTE,MACROREGION NORTE,PE-TUM,24,599.0,23.0,"-3,6408","-80,4453"
1892,TUMBESTUMBESSAN JUAN DE LA VIRGEN,1851,230106.0,240106.0,24,TUMBES,2401,TUMBES,SAN JUAN DE LA VIRGEN,TUMBES,NORTE,MACROREGION NORTE,PE-TUM,24,119.0,26.0,"-3,6278","-80,4336"

In [ ]:
## Primeras observaciones
ndf.head()

,CONCATENADOS,id_ubigeo,ubigeo_reniec,ubigeo_inei,departamento_inei,departamento,provincia_inei,provincia,distrito,region,macroregion_inei,macroregion_minsa,iso_3166_2,fips,superficie,altitud,latitud,longitud
0,AMAZONASCHACHAPOYASCHACHAPOYAS,1,10101.0,10101.0,1,AMAZONAS,101,CHACHAPOYAS,CHACHAPOYAS,AMAZONAS,ORIENTE,MACROREGION ORIENTE,PE-AMA,1,154.0,2338.0,"-6,2294","-77,8728"
1,AMAZONASCHACHAPOYASASUNCION,2,10102.0,10102.0,1,AMAZONAS,101,CHACHAPOYAS,ASUNCION,AMAZONAS,ORIENTE,MACROREGION ORIENTE,PE-AMA,1,26.0,2823.0,"-6,0325","-77,7108"
2,AMAZONASCHACHAPOYASBALSAS,3,10103.0,10103.0,1,AMAZONAS,101,CHACHAPOYAS,BALSAS,AMAZONAS,ORIENTE,MACROREGION ORIENTE,PE-AMA,1,357.0,859.0,"-6,8358","-78,0197"
3,AMAZONASCHACHAPOYASCHETO,4,10104.0,10104.0,1,AMAZONAS,101,CHACHAPOYAS,CHETO,AMAZONAS,ORIENTE,MACROREGION ORIENTE,PE-AMA,1,57.0,2143.0,"-6,2556","-77,7008"
4,AMAZONASCHACHAPOYASCHILIQUIN,5,10105.0,10105.0,1,AMAZONAS,101,CHACHAPOYAS,CHILIQUIN,AMAZONAS,ORIENTE,MACROREGION ORIENTE,PE-AMA,1,143.0,2677.0,"-6,0783","-77,7375"

In [ ]:
## Ultimas observaciones
ndf.tail()

,CONCATENADOS,id_ubigeo,ubigeo_reniec,ubigeo_inei,departamento_inei,departamento,provincia_inei,provincia,distrito,region,macroregion_inei,macroregion_minsa,iso_3166_2,fips,superficie,altitud,latitud,longitud
1888,TUMBESTUMBESCORRALES,1847,230102.0,240102.0,24,TUMBES,2401,TUMBES,CORRALES,TUMBES,NORTE,MACROREGION NORTE,PE-TUM,24,132.0,27.0,"-3,6014","-80,4806"
1889,TUMBESTUMBESLA CRUZ,1848,230103.0,240103.0,24,TUMBES,2401,TUMBES,LA CRUZ,TUMBES,NORTE,MACROREGION NORTE,PE-TUM,24,65.0,10.0,"-3,6372","-80,59"
1890,TUMBESTUMBESPAMPAS DE HOSPITAL,1849,230104.0,240104.0,24,TUMBES,2401,TUMBES,PAMPAS DE HOSPITAL,TUMBES,NORTE,MACROREGION NORTE,PE-TUM,24,728.0,28.0,"-3,6933","-80,4392"
1891,TUMBESTUMBESSAN JACINTO,1850,230105.0,240105.0,24,TUMBES,2401,TUMBES,SAN JACINTO,TUMBES,NORTE,MACROREGION NORTE,PE-TUM,24,599.0,23.0,"-3,6408","-80,4453"
1892,TUMBESTUMBESSAN JUAN DE LA VIRGEN,1851,230106.0,240106.0,24,TUMBES,2401,TUMBES,SAN JUAN DE LA VIRGEN,TUMBES,NORTE,MACROREGION NORTE,PE-TUM,24,119.0,26.0,"-3,6278","-80,4336"

In [ ]:
ndf.head(3)

,CONCATENADOS,id_ubigeo,ubigeo_reniec,ubigeo_inei,departamento_inei,departamento,provincia_inei,provincia,distrito,region,macroregion_inei,macroregion_minsa,iso_3166_2,fips,superficie,altitud,latitud,longitud
0,AMAZONASCHACHAPOYASCHACHAPOYAS,1,10101.0,10101.0,1,AMAZONAS,101,CHACHAPOYAS,CHACHAPOYAS,AMAZONAS,ORIENTE,MACROREGION ORIENTE,PE-AMA,1,154.0,2338.0,"-6,2294","-77,8728"
1,AMAZONASCHACHAPOYASASUNCION,2,10102.0,10102.0,1,AMAZONAS,101,CHACHAPOYAS,ASUNCION,AMAZONAS,ORIENTE,MACROREGION ORIENTE,PE-AMA,1,26.0,2823.0,"-6,0325","-77,7108"
2,AMAZONASCHACHAPOYASBALSAS,3,10103.0,10103.0,1,AMAZONAS,101,CHACHAPOYAS,BALSAS,AMAZONAS,ORIENTE,MACROREGION ORIENTE,PE-AMA,1,357.0,859.0,"-6,8358","-78,0197"

Explorar Base de datos

In [ ]:
## Column: Obtenemos el nombre de las columnas
## Non-null Count: si es que hay valores faltantes (missing values)  y 
## Dtype: para el tipo de cada una de las columnas 
ndf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1893 entries, 0 to 1892
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CONCATENADOS       1893 non-null   object
 1   id_ubigeo          1893 non-null   int64
 2   ubigeo_reniec      1892 non-null   float64
 3   ubigeo_inei        1892 non-null   float64
 4   departamento_inei  1893 non-null   int64
 5   departamento       1893 non-null   object
 6   provincia_inei     1893 non-null   int64
 7   provincia          1893 non-null   object
 8   distrito           1893 non-null   object
 9   region             1893 non-null   object
 10  macroregion_inei   1893 non-null   object
 11  macroregion_minsa  1893 non-null   object
 12  iso_3166_2         1893 non-null   object
 13  fips               1893 non-null   int64
 14  superficie         1870 non-null   float64
 15  altitud            1874 non-null   float64
 16  latitud            1874 non-null   object
 17  longitud           1874 non-null   object
dtypes: float64(4), int64(4), object(10)
memory usage: 266.3+ KB

In [ ]:
### Nos ayuda a ver las dimensiones de nuestra base de datos. 
ndf.shape

(1893, 18)

In [ ]:
##Medidas
ndf.describe()

,id_ubigeo,ubigeo_reniec,ubigeo_inei,departamento_inei,provincia_inei,fips,superficie,altitud
count,1893.000000,1892.000000,1892.000000,1893.000000,1893.000000,1893.000000,1870.000000,1874.000000
mean,947.301109,101261.235729,106841.872093,10.633386,1068.731643,10.889065,684.887166,2237.099787
std,546.971013,64125.682432,67148.167215,6.723219,671.518003,7.084088,1910.241819,1386.947777
min,1.000000,10101.000000,10101.000000,1.000000,101.000000,1.000000,2.000000,5.000000
25%,474.000000,50308.750000,50403.750000,5.000000,504.000000,5.000000,93.000000,650.000000
50%,947.000000,90403.500000,100316.500000,10.000000,1003.000000,10.000000,207.500000,2770.000000
75%,1421.000000,140719.250000,150806.250000,15.000000,1508.000000,15.000000,499.000000,3373.000000
max,1894.000000,250401.000000,250401.000000,25.000000,2504.000000,26.000000,24050.000000,4705.000000

In [ ]:
ndf.nunique()

CONCATENADOS         1893
id_ubigeo            1893
ubigeo_reniec        1892
ubigeo_inei          1892
departamento_inei      25
departamento           25
provincia_inei        196
provincia             196
distrito             1733
region                 26
macroregion_inei        5
macroregion_minsa       5
iso_3166_2             26
fips                   26
superficie            821
altitud              1364
latitud              1836
longitud             1805
dtype: int64

In [ ]:
nomb_variables = ndf.columns

In [ ]:
for nomb in nomb_variables:
    print(nomb)

CONCATENADOS
id_ubigeo
ubigeo_reniec
ubigeo_inei
departamento_inei
departamento
provincia_inei
provincia
distrito
region
macroregion_inei
macroregion_minsa
iso_3166_2
fips
superficie
altitud
latitud
longitud

Seleccion de datos

In [ ]:
##Forma 1
ndf.provincia

0       CHACHAPOYAS
1       CHACHAPOYAS
2       CHACHAPOYAS
3       CHACHAPOYAS
4       CHACHAPOYAS
           ...
1888         TUMBES
1889         TUMBES
1890         TUMBES
1891         TUMBES
1892         TUMBES
Name: provincia, Length: 1893, dtype: object

In [ ]:
##Forma 2
ndf['provincia']

0       CHACHAPOYAS
1       CHACHAPOYAS
2       CHACHAPOYAS
3       CHACHAPOYAS
4       CHACHAPOYAS
           ...
1888         TUMBES
1889         TUMBES
1890         TUMBES
1891         TUMBES
1892         TUMBES
Name: provincia, Length: 1893, dtype: object

In [ ]:
ndf['nombre provincia'] = ndf['provincia']

In [ ]:
ndf['nombre provincia']

0       CHACHAPOYAS
1       CHACHAPOYAS
2       CHACHAPOYAS
3       CHACHAPOYAS
4       CHACHAPOYAS
           ...
1888         TUMBES
1889         TUMBES
1890         TUMBES
1891         TUMBES
1892         TUMBES
Name: nombre provincia, Length: 1893, dtype: object

In [ ]:
##Contar los valores Ãºnicos de una sola columna, en este caso podriamos notar cuantos distritos tiene las provincias

ndf['provincia'].value_counts()

LIMA                         44
JAUJA                        34
YAUYOS                       33
HUAROCHIRI                   32
AREQUIPA                     29
                             ..
VIRU                          3
CHEPEN                        3
CARLOS FERMIN FITZCARRALD     3
ASUNCION                      2
PURUS                         1
Name: provincia, Length: 196, dtype: int64

Seleccionando un grupo de columnas

In [ ]:
ndf.columns

Index(['CONCATENADOS', 'id_ubigeo', 'ubigeo_reniec', 'ubigeo_inei',
       'departamento_inei', 'departamento', 'provincia_inei', 'provincia',
       'distrito', 'region', 'macroregion_inei', 'macroregion_minsa',
       'iso_3166_2', 'fips', 'superficie', 'altitud', 'latitud', 'longitud',
       'nombre provincia'],
      dtype='object')

In [ ]:
ubigeo_combinacion= ['departamento', 'provincia', 'distrito']

In [ ]:
print(ndf[ubigeo_combinacion])

     departamento    provincia               distrito
0        AMAZONAS  CHACHAPOYAS            CHACHAPOYAS
1        AMAZONAS  CHACHAPOYAS               ASUNCION
2        AMAZONAS  CHACHAPOYAS                 BALSAS
3        AMAZONAS  CHACHAPOYAS                  CHETO
4        AMAZONAS  CHACHAPOYAS              CHILIQUIN
...           ...          ...                    ...
1888       TUMBES       TUMBES               CORRALES
1889       TUMBES       TUMBES                LA CRUZ
1890       TUMBES       TUMBES     PAMPAS DE HOSPITAL
1891       TUMBES       TUMBES            SAN JACINTO
1892       TUMBES       TUMBES  SAN JUAN DE LA VIRGEN

[1893 rows x 3 columns]

In [ ]:
type(ndf['departamento'])

pandas.core.series.Series

In [ ]:
Seleccionar un grupo de filas

In [ ]:
##Forma 1: iloc
ndf.iloc[0]

CONCATENADOS         AMAZONASCHACHAPOYASCHACHAPOYAS
id_ubigeo                                         1
ubigeo_reniec                               10101.0
ubigeo_inei                                 10101.0
departamento_inei                                 1
departamento                               AMAZONAS
provincia_inei                                  101
provincia                               CHACHAPOYAS
distrito                                CHACHAPOYAS
region                                     AMAZONAS
macroregion_inei                            ORIENTE
macroregion_minsa               MACROREGION ORIENTE
iso_3166_2                                   PE-AMA
fips                                              1
superficie                                    154.0
altitud                                      2338.0
latitud                                     -6,2294
longitud                                   -77,8728
nombre provincia                        CHACHAPOYAS
Name: 0, dtype: object

In [ ]:
##Seleccionando especificas
ndf.iloc[[10,13,30]]

,CONCATENADOS,id_ubigeo,ubigeo_reniec,ubigeo_inei,departamento_inei,departamento,provincia_inei,provincia,distrito,region,macroregion_inei,macroregion_minsa,iso_3166_2,fips,superficie,altitud,latitud,longitud,nombre provincia
10,AMAZONASCHACHAPOYASLEVANTO,11,10111.0,10111.0,1,AMAZONAS,101,CHACHAPOYAS,LEVANTO,AMAZONAS,ORIENTE,MACROREGION ORIENTE,PE-AMA,1,78.0,2681.0,"-6,3078","-77,8992",CHACHAPOYAS
13,AMAZONASCHACHAPOYASMOLINOPAMPA,14,10114.0,10114.0,1,AMAZONAS,101,CHACHAPOYAS,MOLINOPAMPA,AMAZONAS,ORIENTE,MACROREGION ORIENTE,PE-AMA,1,334.0,2405.0,"-6,2092","-77,6692",CHACHAPOYAS
30,AMAZONASBONGARACOROSHA,31,10302.0,10304.0,1,AMAZONAS,103,BONGARA,COROSHA,AMAZONAS,ORIENTE,MACROREGION ORIENTE,PE-AMA,1,46.0,2297.0,"-5,8433","-77,8225",BONGARA

In [ ]:
ndf_ind = ndf.set_index('departamento')

In [ ]:
ndf_ind.head(5)

,CONCATENADOS,id_ubigeo,ubigeo_reniec,ubigeo_inei,departamento_inei,provincia_inei,provincia,distrito,region,macroregion_inei,macroregion_minsa,iso_3166_2,fips,superficie,altitud,latitud,longitud,nombre provincia
departamento,,,,,,,,,,,,,,,,,,
AMAZONAS,AMAZONASCHACHAPOYASCHACHAPOYAS,1,10101.0,10101.0,1,101,CHACHAPOYAS,CHACHAPOYAS,AMAZONAS,ORIENTE,MACROREGION ORIENTE,PE-AMA,1,154.0,2338.0,"-6,2294","-77,8728",CHACHAPOYAS
AMAZONAS,AMAZONASCHACHAPOYASASUNCION,2,10102.0,10102.0,1,101,CHACHAPOYAS,ASUNCION,AMAZONAS,ORIENTE,MACROREGION ORIENTE,PE-AMA,1,26.0,2823.0,"-6,0325","-77,7108",CHACHAPOYAS
AMAZONAS,AMAZONASCHACHAPOYASBALSAS,3,10103.0,10103.0,1,101,CHACHAPOYAS,BALSAS,AMAZONAS,ORIENTE,MACROREGION ORIENTE,PE-AMA,1,357.0,859.0,"-6,8358","-78,0197",CHACHAPOYAS
AMAZONAS,AMAZONASCHACHAPOYASCHETO,4,10104.0,10104.0,1,101,CHACHAPOYAS,CHETO,AMAZONAS,ORIENTE,MACROREGION ORIENTE,PE-AMA,1,57.0,2143.0,"-6,2556","-77,7008",CHACHAPOYAS
AMAZONAS,AMAZONASCHACHAPOYASCHILIQUIN,5,10105.0,10105.0,1,101,CHACHAPOYAS,CHILIQUIN,AMAZONAS,ORIENTE,MACROREGION ORIENTE,PE-AMA,1,143.0,2677.0,"-6,0783","-77,7375",CHACHAPOYAS

In [ ]:
columnas = ["departamento", "provincia", "distrito"]
ndf.loc[:, columnas]

     departamento    provincia               distrito
0        AMAZONAS  CHACHAPOYAS            CHACHAPOYAS
1        AMAZONAS  CHACHAPOYAS               ASUNCION
2        AMAZONAS  CHACHAPOYAS                 BALSAS
3        AMAZONAS  CHACHAPOYAS                  CHETO
4        AMAZONAS  CHACHAPOYAS              CHILIQUIN
...           ...          ...                    ...
1888       TUMBES       TUMBES               CORRALES
1889       TUMBES       TUMBES                LA CRUZ
1890       TUMBES       TUMBES     PAMPAS DE HOSPITAL
1891       TUMBES       TUMBES            SAN JACINTO
1892       TUMBES       TUMBES  SAN JUAN DE LA VIRGEN

[1893 rows x 3 columns]

In [ ]:
ndf.loc[0:10, columnas]

   departamento    provincia     distrito
0      AMAZONAS  CHACHAPOYAS  CHACHAPOYAS
1      AMAZONAS  CHACHAPOYAS     ASUNCION
2      AMAZONAS  CHACHAPOYAS       BALSAS
3      AMAZONAS  CHACHAPOYAS        CHETO
4      AMAZONAS  CHACHAPOYAS    CHILIQUIN
5      AMAZONAS  CHACHAPOYAS  CHUQUIBAMBA
6      AMAZONAS  CHACHAPOYAS      GRANADA
7      AMAZONAS  CHACHAPOYAS      HUANCAS
8      AMAZONAS  CHACHAPOYAS     LA JALCA
9      AMAZONAS  CHACHAPOYAS   LEIMEBAMBA
10     AMAZONAS  CHACHAPOYAS      LEVANTO

Filtrar informacion

In [ ]:
cond = ndf['ubigeo_reniec'] > 20000
ndf[cond]

,CONCATENADOS,id_ubigeo,ubigeo_reniec,ubigeo_inei,departamento_inei,departamento,provincia_inei,provincia,distrito,region,macroregion_inei,macroregion_minsa,iso_3166_2,fips,superficie,altitud,latitud,longitud
84,ANCASHHUARAZHUARAZ,85,20101.0,20101.0,2,ANCASH,201,HUARAZ,HUARAZ,ANCASH,CENTRO,MACROREGION NORTE,PE-ANC,2,433.0,3073.0,"-9,5297","-77,5292"
85,ANCASHHUARAZCOCHABAMBA,86,20103.0,20102.0,2,ANCASH,201,HUARAZ,COCHABAMBA,ANCASH,CENTRO,MACROREGION NORTE,PE-ANC,2,136.0,2135.0,"-9,495","-77,8594"
86,ANCASHHUARAZCOLCABAMBA,87,20104.0,20103.0,2,ANCASH,201,HUARAZ,COLCABAMBA,ANCASH,CENTRO,MACROREGION NORTE,PE-ANC,2,51.0,3154.0,"-9,5947","-77,8086"
87,ANCASHHUARAZHUANCHAY,88,20105.0,20104.0,2,ANCASH,201,HUARAZ,HUANCHAY,ANCASH,CENTRO,MACROREGION NORTE,PE-ANC,2,209.0,2592.0,"-9,7236","-77,8186"
88,ANCASHHUARAZINDEPENDENCIA,89,20102.0,20105.0,2,ANCASH,201,HUARAZ,INDEPENDENCIA,ANCASH,CENTRO,MACROREGION NORTE,PE-ANC,2,343.0,3047.0,"-9,5144","-77,5325"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1888,TUMBESTUMBESCORRALES,1847,230102.0,240102.0,24,TUMBES,2401,TUMBES,CORRALES,TUMBES,NORTE,MACROREGION NORTE,PE-TUM,24,132.0,27.0,"-3,6014","-80,4806"
1889,TUMBESTUMBESLA CRUZ,1848,230103.0,240103.0,24,TUMBES,2401,TUMBES,LA CRUZ,TUMBES,NORTE,MACROREGION NORTE,PE-TUM,24,65.0,10.0,"-3,6372","-80,59"
1890,TUMBESTUMBESPAMPAS DE HOSPITAL,1849,230104.0,240104.0,24,TUMBES,2401,TUMBES,PAMPAS DE HOSPITAL,TUMBES,NORTE,MACROREGION NORTE,PE-TUM,24,728.0,28.0,"-3,6933","-80,4392"
1891,TUMBESTUMBESSAN JACINTO,1850,230105.0,240105.0,24,TUMBES,2401,TUMBES,SAN JACINTO,TUMBES,NORTE,MACROREGION NORTE,PE-TUM,24,599.0,23.0,"-3,6408","-80,4453"
1892,TUMBESTUMBESSAN JUAN DE LA VIRGEN,1851,230106.0,240106.0,24,TUMBES,2401,TUMBES,SAN JUAN DE LA VIRGEN,TUMBES,NORTE,MACROREGION NORTE,PE-TUM,24,119.0,26.0,"-3,6278","-80,4336"

Limpieza de datos

In [ ]:
ndf.sort_values("id_ubigeo", inplace = True)
ndf.head(5)

,CONCATENADOS,id_ubigeo,ubigeo_reniec,ubigeo_inei,departamento_inei,departamento,provincia_inei,provincia,distrito,region,macroregion_inei,macroregion_minsa,iso_3166_2,fips,superficie,altitud,latitud,longitud
0,AMAZONASCHACHAPOYASCHACHAPOYAS,1,10101.0,10101.0,1,AMAZONAS,101,CHACHAPOYAS,CHACHAPOYAS,AMAZONAS,ORIENTE,MACROREGION ORIENTE,PE-AMA,1,154.0,2338.0,"-6,2294","-77,8728"
1,AMAZONASCHACHAPOYASASUNCION,2,10102.0,10102.0,1,AMAZONAS,101,CHACHAPOYAS,ASUNCION,AMAZONAS,ORIENTE,MACROREGION ORIENTE,PE-AMA,1,26.0,2823.0,"-6,0325","-77,7108"
2,AMAZONASCHACHAPOYASBALSAS,3,10103.0,10103.0,1,AMAZONAS,101,CHACHAPOYAS,BALSAS,AMAZONAS,ORIENTE,MACROREGION ORIENTE,PE-AMA,1,357.0,859.0,"-6,8358","-78,0197"
3,AMAZONASCHACHAPOYASCHETO,4,10104.0,10104.0,1,AMAZONAS,101,CHACHAPOYAS,CHETO,AMAZONAS,ORIENTE,MACROREGION ORIENTE,PE-AMA,1,57.0,2143.0,"-6,2556","-77,7008"
4,AMAZONASCHACHAPOYASCHILIQUIN,5,10105.0,10105.0,1,AMAZONAS,101,CHACHAPOYAS,CHILIQUIN,AMAZONAS,ORIENTE,MACROREGION ORIENTE,PE-AMA,1,143.0,2677.0,"-6,0783","-77,7375"

In [ ]:
ndf.sort_values("id_ubigeo",ascending = False,  inplace = True)
ndf.head(5)

,CONCATENADOS,id_ubigeo,ubigeo_reniec,ubigeo_inei,departamento_inei,departamento,provincia_inei,provincia,distrito,region,macroregion_inei,macroregion_minsa,iso_3166_2,fips,superficie,altitud,latitud,longitud
1508,LORETOMAYNASTENIENTE MANUEL CLAVERO,1894,150114.0,160114.0,16,LORETO,1601,MAYNAS,TENIENTE MANUEL CLAVERO,LORETO,ORIENTE,MACROREGION ORIENTE,PE-LOR,16,NaN,NaN,NaN,NaN
1507,LORETOMAYNASPUTUMAYO,1893,150107.0,160109.0,16,LORETO,1601,MAYNAS,PUTUMAYO,LORETO,ORIENTE,MACROREGION ORIENTE,PE-LOR,16,NaN,NaN,NaN,NaN
1506,SAN MARTINTOCACHESANTA LUCIA,1892,210806.0,221006.0,22,SAN MARTIN,2210,TOCACHE,SANTA LUCIA,SAN MARTIN,ORIENTE,MACROREGION ORIENTE,PE-SAM,22,NaN,NaN,NaN,NaN
1505,APURIMACCHINCHEROSAHUAYRO,1891,30712.0,30612.0,3,APURIMAC,306,CHINCHEROS,AHUAYRO,APURIMAC,SUR,MACROREGION CENTRO,PE-APU,3,NaN,NaN,NaN,NaN
1504,CUSCOLA CONVENCIONUNION ASHÃNINKA,1890,70919.0,80918.0,8,CUSCO,809,LA CONVENCION,UNION ASHÃNINKA,CUSCO,SUR,MACROREGION SUR,PE-CUS,8,NaN,NaN,NaN,NaN

Cambiar de nombre

In [ ]:
ndf2 = ndf.copy(deep = True)

In [ ]:
ndf2.columns

Index(['CONCATENADOS', 'id_ubigeo', 'ubigeo_reniec', 'ubigeo_inei',
       'departamento_inei', 'departamento', 'provincia_inei', 'provincia',
       'distrito', 'region', 'macroregion_inei', 'macroregion_minsa',
       'iso_3166_2', 'fips', 'superficie', 'altitud', 'latitud', 'longitud'],
      dtype='object')

In [ ]:
nuevos_nombres = {'ubigeo_reniec': 'reniec', 'ubigeo_inei' : 'inei'}
ndf2.rename(columns = nuevos_nombres, inplace = True)

In [ ]:
ndf2.columns

Index(['CONCATENADOS', 'id_ubigeo', 'reniec', 'inei', 'departamento_inei',
       'departamento', 'provincia_inei', 'provincia', 'distrito', 'region',
       'macroregion_inei', 'macroregion_minsa', 'iso_3166_2', 'fips',
       'superficie', 'altitud', 'latitud', 'longitud'],
      dtype='object')

Cambio de valores en variables

In [ ]:
ndf2.loc[ndf2['macroregion_inei'] == 'ORIENTE', 'macroregion_inei'] = 'ESTE'
ndf2.head(5)

,CONCATENADOS,id_ubigeo,reniec,inei,departamento_inei,departamento,provincia_inei,provincia,distrito,region,macroregion_inei,macroregion_minsa,iso_3166_2,fips,superficie,altitud,latitud,longitud,partido_nuevo,nueva_macroregion
0,AMAZONASCHACHAPOYASCHACHAPOYAS,1,10101.0,10101.0,1,AMAZONAS,101,CHACHAPOYAS,CHACHAPOYAS,AMAZONAS,ESTE,MACROREGION ORIENTE,PE-AMA,1,154.0,2338.0,"-6,2294","-77,8728",Este,Este
1,AMAZONASCHACHAPOYASASUNCION,2,10102.0,10102.0,1,AMAZONAS,101,CHACHAPOYAS,ASUNCION,AMAZONAS,ESTE,MACROREGION ORIENTE,PE-AMA,1,26.0,2823.0,"-6,0325","-77,7108",Este,Este
2,AMAZONASCHACHAPOYASBALSAS,3,10103.0,10103.0,1,AMAZONAS,101,CHACHAPOYAS,BALSAS,AMAZONAS,ESTE,MACROREGION ORIENTE,PE-AMA,1,357.0,859.0,"-6,8358","-78,0197",Este,Este
3,AMAZONASCHACHAPOYASCHETO,4,10104.0,10104.0,1,AMAZONAS,101,CHACHAPOYAS,CHETO,AMAZONAS,ESTE,MACROREGION ORIENTE,PE-AMA,1,57.0,2143.0,"-6,2556","-77,7008",Este,Este
4,AMAZONASCHACHAPOYASCHILIQUIN,5,10105.0,10105.0,1,AMAZONAS,101,CHACHAPOYAS,CHILIQUIN,AMAZONAS,ESTE,MACROREGION ORIENTE,PE-AMA,1,143.0,2677.0,"-6,0783","-77,7375",Este,Este

Nueva Variable

In [ ]:
ndf['nueva columna'] = True
ndf.head(3)

,CONCATENADOS,id_ubigeo,ubigeo_reniec,ubigeo_inei,departamento_inei,departamento,provincia_inei,provincia,distrito,region,macroregion_inei,macroregion_minsa,iso_3166_2,fips,superficie,altitud,latitud,longitud,nueva columna
0,AMAZONASCHACHAPOYASCHACHAPOYAS,1,10101.0,10101.0,1,AMAZONAS,101,CHACHAPOYAS,CHACHAPOYAS,AMAZONAS,ORIENTE,MACROREGION ORIENTE,PE-AMA,1,154.0,2338.0,"-6,2294","-77,8728",True
1,AMAZONASCHACHAPOYASASUNCION,2,10102.0,10102.0,1,AMAZONAS,101,CHACHAPOYAS,ASUNCION,AMAZONAS,ORIENTE,MACROREGION ORIENTE,PE-AMA,1,26.0,2823.0,"-6,0325","-77,7108",True
2,AMAZONASCHACHAPOYASBALSAS,3,10103.0,10103.0,1,AMAZONAS,101,CHACHAPOYAS,BALSAS,AMAZONAS,ORIENTE,MACROREGION ORIENTE,PE-AMA,1,357.0,859.0,"-6,8358","-78,0197",True

In [ ]:
Merge

In [ ]:
ndf_1 = ndf[['CONCATENADOS', 'nueva columna']]

ndf_2 = ndf2[['CONCATENADOS', 'id_ubigeo']]

In [ ]:
resultado_merge = pd.merge(ndf_1,
                     ndf_2,
                    left_on = 'CONCATENADOS',
                    right_on = 'CONCATENADOS',
                    how = 'inner', indicator = True)
resultado_merge

                             CONCATENADOS  nueva columna  id_ubigeo _merge
0          AMAZONASCHACHAPOYASCHACHAPOYAS           True          1   both
1             AMAZONASCHACHAPOYASASUNCION           True          2   both
2               AMAZONASCHACHAPOYASBALSAS           True          3   both
3                AMAZONASCHACHAPOYASCHETO           True          4   both
4            AMAZONASCHACHAPOYASCHILIQUIN           True          5   both
...                                   ...            ...        ...    ...
1888    CUSCOLA CONVENCIONUNION ASHÃNINKA           True       1890   both
1889            APURIMACCHINCHEROSAHUAYRO           True       1891   both
1890         SAN MARTINTOCACHESANTA LUCIA           True       1892   both
1891                 LORETOMAYNASPUTUMAYO           True       1893   both
1892  LORETOMAYNASTENIENTE MANUEL CLAVERO           True       1894   both

[1893 rows x 4 columns]